<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<section class="login_page">
    <div class="container-fluid">
        <div class="login">
            <div class="login-form">
                <form [formGroup]="form">
                
                <h1>Login</h1>
                <div class="content">
                <div class="input-field">
                <input type='text' placeholder='user ID' autocomplete='nope' formControlName="id"/>
                </div>
                <div class="input-field">
                <input type='password' placeholder='Password' autocomplete='new-password' formControlName="password"/>
                </div>
                  
                <a class="link" (click)='request_account()'>Request ERP account</a>                 
                </div>
                <div class="action">
                <button (click)='login()'>SIGN IN</button>
                </div>
               </form>
            </div>
        </div>
        <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <div class="footer-copyright text-center py-3">© 2022 login test:
      <span> Thanks </span>
    </div>
  </footer>
    
    </div>
</section>
